.main{
    background-color: rgb(208, 204, 204);
    min-height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formulario{
    width: 45%;
    min-height: 30vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-container{
    width: 55%;
    margin-top:100px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.card{
    width: 200px;
    height: 270px;
    margin: 10px;
    border-radius: 10px;
}

